body {
	padding-top: 1em;
}

input {
	min-width: 300px;
	margin-right: 1em;
}

.offscreen {
  position: absolute;
  left: -99999px;
}

.hide {
	display: none;
}

.wrapper {
    margin: 0 auto;
    max-width: 600px;
}

.authpanel, .newquoteform, .quote {
	margin-bottom: 1em;
	padding: 3px;
}

.authpanel {
	border-bottom: 1px solid #CCC;
}

.author {
	font-size: 0.85em;
	color: #555;
}

#player {
	background: white;
	border-bottom: 1px solid;
	height: 100px;
	position: fixed;
	top: 0px;
	width: 100%;
	#track-artwork {
		float: left;
	}
	#track-info {
		float: left;
	}
}

#tracklist {
	&.player-padding {
		margin-top: 100px;
	}
}

#yt-player {
	position: relative;
  left: 0px;
}
