@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,300);
//white to black
@offwhite: #E7E7DE;
@lightgray: #F6F6F6;
@gray: #EEE;
@gray-1: #BBB;
@darkgray: #444;
@offblack: #222;
@black: #000;

//colors
@hotblue: #01A1F7;
@hotred: #F7174D;
@hotyellow: #E9DE2A;
@hotpink: #FF538F;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px;
}

p, h3, h4 {
  margin: 3px;
}

input {
  min-width: 300px;
  margin-right: 1em;
}

.offscreen {
  position: absolute;
  left: -99999px;
}

.hide {
  display: none;
}

.elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapper {
  margin: 0 auto;
  max-width: 600px;
}

.container {
  max-width: 930px;
}


#ui-player {
  #yt_widget {
    position: relative;
    left: 0px;
  }
  #yt_widget.offscreen {
    position: absolute;
    left: -99999px;
  }
  #player-track-artwork {
    float: left;
    #sc-thumb {
      height: 100px;
      overflow: hidden;
      img {
        margin-top: -50px;
        width: 200px;
      }
    }
    #yt-thumb {
      height: 100px;
      overflow: hidden;
      img {
        margin-top: -25px;
        width: 200px;
      }
    }
  }
  #player-track-info {
    #player-track-time {
      float: right;
    }
  }
}
#auth {
  float: right;
  #logged-in {
    #auth-button {
      cursor: pointer;
      float: right;
      font-size: 25px;
      margin: 10px 65px 10px;
      padding-right: 3%;
      position: relative;
    }
    #auth-menu {
      background: white;
      border: 1px solid @offwhite;
      bottom: -110px;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 16px;
      height: 100px;
      margin-right: 50%;
      position: absolute;
      right: -65px;
      width: 150px;
      &:before {
        border-bottom: 5px solid white;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        content: '';
        height: 0;
        margin-right: 50%;
        right: -4px;
        top: -5px;
        position: absolute;
        width: 0;
      }
      #username {
        border-bottom: 1px solid @offwhite;
        padding: 9px;
      }
      .menu-link:last-child {
        border-bottom: none;
      }
      .menu-link {
        border-bottom: 1px solid @offwhite;
        cursor: pointer;
        padding: 9px;
        text-align: center;
        text-transform: uppercase;
        a {
          color: @offblack;
          text-decoration: none;
        }
        &:hover {
          background: @offwhite;
        }
      }
      div#username {
        font-size: 12px;
        text-align: left;
      }
    }
  }
  #logged-out {
    #loggin-button {
      cursor: pointer;
      float: right;
      font-size: 21px;
      margin: 10px 5px 10px;
      padding-right: 3%;
      position: relative;
    }
  }
  #log-in {
    background: white;
    border-bottom: 1px solid @offwhite;
    border-left: 1px solid @offwhite;
    border-right: 1px solid @offwhite;
    margin-top: 44px;
    position: absolute;
    right: 20px;
    top: 2px;
    i.icon-close {
      color: #999;
      cursor: pointer;
      font-size: 22px;
      position: absolute;
      left: 10px;
      top: 5px;
      z-index: 9;
    }
    #firebaseui-auth-container {
      .firebaseui-container {
        padding-top: 20px;
        width: 235px;
        .firebaseui-card-content {
          padding: 0px 15px;
        }
      }
    }
  }
}


#tracklist {
  height: 100vh;
  .track-item.active { //THIS IS ACTIVE
    .track-item-info {
      .track-item-info-artwork {
        img {
          // outline: 1px solid @gray;
        }
        i.icon {
          color: @hotblue;
        }
      }
      .track-item-info-detail {
        background: @lightgray;
      }
    }
  }
  .track-item {
    .track-item-info {
      float: left;
      width: ~"calc(100% - 50px)";
      .track-item-info-artwork {
        background: @black;
        cursor: pointer;
        float: left;
        position: relative;
        i {
          color: @lightgray;
          font-size: 60px;
          margin: 10px;
          position: absolute;
        }
        img {
          width: 100%;
        }
      }
      .track-item-info-detail {
        float: left;
        .track-title {
          color: @darkgray;
          font-weight: 100;
        }
        .track-artist {
          color: @darkgray;
          font-weight: 900;
          .track-by {
            font-weight: 100;
          }
        }
        .track-genre {
          float: left;
          font-size: 11px;
          line-height: 1em;
          margin: 0px;
          padding: 0px 0px 0px 10px;
          i {
            float: left;
            font-size: 15px;
          }
          p {
            float: left;
            margin: 5px 0px;
          }
        }
      }
    }
    .track-item-actions {
      float: left;
      width: 50px;
      i.track-heart {
        float: left;
      }
      .go-to-track-detail {
        color: #444;
        float: left;
        text-decoration: none;
      }
    }
  }
}

#track-detail {
  #track-detail-header {
    margin: 10px 0px;
  }
  #track-detail-artwork {
    float: left;
    width: 50%;
    img {
      width: 100%;
    }
  }
  #track-detail-info {
    float: left;
    padding-left: 20px;
    width: 50%;
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .container {
    margin: 105px auto 100px;
    width: 95%;
  }
  #ui-player {
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 3;
    #player-track-artwork {
      display: none;
    }
    #player-track-info {
      background: @offblack;
      color: @offwhite;
      height: 70px;
      padding: 5px;
      text-align: center;
      width: 100%;
      h3 {
        font-weight: 300;
        font-size: 12px;
      }
      h4 {
        font-weight: 300;
        font-size: 10px;
      }
      #player-track-controls {
        color: @offwhite;
        margin: 5px auto;
        width: 260px;
        i.icon.active {
          color: @hotblue;
          font-weight: 900;
        }
        i.icon {
          cursor: pointer;
          font-size: 25px;
          margin: 0 10px;
        }
      }
      #player-track-time {
        display: none;
      }
    }
    #player-track-prgress {
      position: absolute;
      top: 0px;
      height: 4px;
      width: 100%;
      #progress-container {
        background: @gray;
        cursor: pointer;
        height: 100%;
        position: relative;
        width: 100%;
        z-index: 3;
        #progress {
          background: @gray-1;
          height: 100%;
          position: absolute;
          width: auto;
        }
      }
    }
  }
  #auth{
    background: @hotred;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
  }
  #tracklist {
    .track-item {
      height: 60px;
      .track-item-info {
        .track-item-info-artwork {
          height: 55px;
          width: 55px;
          i.icon {
            font-size: 40px;
            margin: 8px;
          }
        }
        .track-item-info-detail {
          float: left;
          height: 55px;
          width: ~"calc(100% - 60px)";
          .track-title {
            font-size: 14px;
            margin: 4px 7px 2px;
          }
          .track-artist {
            font-size: 12px;
            margin: 1px 7px 3px;
          }
          .track-genre {
            padding: 0 0 0 8px;
          }
          .origin-link {
            display: none;
          }
        }
      }
      .track-item-actions {
        i.track-heart {
          font-size: 18px;
          padding: 4px;
        }
        .go-to-track-detail {
          font-size: 17px;
          padding: 3px;
        }
      }
    }
  }
}

#genre {
  background: white;
  box-shadow: 0px 1px 2px #ddd;
  left: 0px;
  outline:none;
  position: fixed;
  top: 41px;
  width: 100%;
  z-index: 1;
  .genrebutton:last-child {
    border-right: none;
  }
  .genrebutton:hover {
    background: @lightgray;
  }
  .genrebutton:focus {outline:0;}
  .genrebutton.active {
    background: @lightgray;
  }
  .genrebutton {
    background: transparent;
    border: none;
    border-right: none;
    color: @darkgray;
    cursor: pointer;
    width: 10%;
    padding: 7px 0px 5px;
    i {
      font-size: 30px;
    }
    p {
      font-size: 9px;
    }
  }
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  #ui-player {
    background: white;
    height: 100px;
    top: 0;
    #player-track-artwork {
      display: block;
    }
    #player-track-info {
      background: white;
      color: @offblack;
      float: left;
      width: ~"calc(100% - 200px)";
      h3 {
        font-size: 26px;
        margin: 0px;
        padding: 7px 10px 0px;
      }
      h4 {
        font-size: 16px;
        padding: 0px 7px 5px
      }
      #player-track-controls {
        i.icon {
          color: @offblack;
        }
      }
      #player-track-time {
        display: block;
        margin-top: 20px;
      }
    }
    #player-track-prgress {
      top: 100px;
      transition: height 0.1s, top 0.1s;
      &:hover {
        top: 97px;
        height: 10px;
      }
    }
  }
  #auth{
    background: @lightgray;
    border-bottom: 1px solid white;
    top: 104px;
    z-index: 2;
    #firebaseui-auth-container {
      .firebaseui-container {
        right: auto;
        top: 0px;
        position: relative;
      }
    }
  }

  .container {
    margin: 230px auto 0px;
    width: 70%;
  }
  #tracklist {
    .track-item {
      height: 90px;
      .track-item-info {
        width: 80%;
        .track-item-info-artwork {
          height: 80px;
          width: 80px;
          i.icon {
            font-size: 50px;
            margin: 15px 15px 0px;
          }
        }
        .track-item-info-detail {
          height: 80px;
          width: ~"calc(100% - 85px)";
          .track-title {
            font-size: 24px;
            margin: 7px 7px 0px;
          }
          .track-artist {
            font-size: 16px;
            margin: 3px 9px 8px;
          }
          .origin-link {
            color: @darkgray;
            display: inline;
            float: left;
            font-size: 10px;
            margin: 0px 5px;
            line-height: 1.5em;
            text-decoration: none;
            i.icon {
              font-size: 14px;
              margin: 3px;
            }
          }
        }
      }
      .track-item-actions {
        width: 20%;
        i.track-heart {
          font-size: 30px;
          padding: 10px 10px 5px;
        }
        .go-to-track-detail {
          font-size: 25px;
          margin-left: 5px;
          padding: 15px;
        }
      }
    }
  }
  #genre {
    height: 55px;
    top: 145px;
    .genrebutton {
      border-right: 1px solid @lightgray;
      i {
        font-size: 20px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
